* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffffff' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #000;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .contenedor{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVIGATION */

.nav-main {
    background: #FFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav-brand {
    width: 350px;

}

.nav-main ul{
    display:flex;
}

.nav-main .lang{
    margin-left: auto;
}

.nav-main .media{
    margin: right;
}

.nav-main .media .fa-facebook-square {
    color: blue;
}

.nav-main .media .fa-instagram{
    background: -moz-linear-gradient(60deg, yellow, magenta);
    background: -webkit-linear-gradient(60deg, yellow, magenta);
    background: linear-gradient(60deg, yellow, magenta);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.nav-main .lang input{
    border-style: solid;
}

.nav-main ul li{
    padding: 15px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #000;
}
.contenedor-inicio {
    display: flex;
    width: 100%;
}

.contenedor-inicio .weather {
    border-radius: 2px;
    border-color: #000;
    width: 100%;
}

.banner {
    width: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: #000;
}
.banner img {
    width: 100%;
}

.contenedor{
    width: 100%;
    margin: auto;
}
.contenedor-flex{
    width: 100%;
    margin: auto;
    display: flex;
}

.articulo{
    border-color: #000;
    border-style: solid;
    padding-left: 20px;
    top: 5px;
    border-width: 6px;
    width: 50%;
}

.anuncios{
    border-color: #000;
    border-style: solid;
    padding-left: 20px;
    max-width: 25%;
    top: 5px;
    border-width: 2px;
}

.articulo input{
    float: right;
    width: 45%;
}

.articulo .link {
    color: blue;
    border-bottom: 1px solid blue;
}

.articulo a{
    color: #414141
}

.articulo img {
    max-width: 100%;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 800px) {
    header .logotipo {
        margin-bottom: 10px;
        font-size: 20px;
    }

    header .nav-main {
        max-width: auto;
        display: block;
        font-size: 15px;
        flex-direction: column;
        text-align: center;
    }

    .contenedor-anuncio {
        font-size: 14px;
    }
    .contenedor-flex {
        width: 100%;
        margin: auto;
        display: inline;
    }
    .anuncios{
        border-color: #000;
        border-style: solid;
        padding-left: 20px;
        max-width: 100%;
        top: 5px;
        border-width: 2px;
    }
    .contenedor-inicio{
        display: block;
    }
    .banner{
        width: 100%;
    }
    .articulo{
        width: 100%;
    }
}